.background-div {
    background-image: url('../../assets/ImageCouverture.jpg');
    background-size: cover; /* Pour s'assurer que l'image couvre toute la `div` */
    background-position: center; /* Centrer l'image */
    color: #fff; /* Couleur du texte */
    padding: 100px 0;
    width: 100%;
    height: 100%;
  }
  
  .background-div h1 {
    font-size: 36px;
  }
  
  .background-div p {
    font-size: 18px;
  }
  